@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F5F5F5;
  }

.container {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  ::-webkit-scrollbar { 
    display: none;  
  }
}